In [9]:
import numpy as np
import pandas as pd

In [10]:
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :-1].values
Y = dataset.iloc[:, 3].values

In [11]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [12]:
from sklearn.impute import SimpleImputer

# Replace 'NaN' strings with actual np.nan if necessary
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

# Fit and transform the columns with missing data
X[:, 1:3] = imputer.fit_transform(X[:, 1:3])